.admin-container {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.dashboard-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.info-card {
  background: #ffffff;
  padding: 20px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.info-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 14px rgba(0,0,0,0.15);
}

.info-card h3 {
  font-size: 18px;
  color: #2e86de;
}

.info-card p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.faculty-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.table-wrapper {
  overflow-x: auto;
}

.faculty-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.faculty-table th {
  background: #2e86de;
  color: white;
  padding: 12px;
  text-align: left;
}

.faculty-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.faculty-table tr:hover {
  background: #f5f9ff;
}
