.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.login-container h2 {
    margin-bottom:20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container label {
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 10px;
    background-color: #00ff7b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00b345;
}